body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4; /* Color de fondo general del cuerpo */
}

header {
    background: #151f42; /* Azul oscuro */
    color: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 70px; /* Ajusta esto según el tamaño de tu logo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px; /* Aumentando el espacio entre los elementos */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* Tamaño de letra */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url('hero.jpg'); /* Imagen de fondo del hero section */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h1 {
    color: #151f42; /* Cambia el color del texto a rojo */
    font-size: 46px; /* Cambia el tamaño de la letra a 36 pixels */
    margin-top: -50px; /* Ajusta el margen superior a 30 pixels */
    
}

.about-us-content h2 {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 24px; /* Tamaño de la letra de 24 píxeles */
}


.hero-content p {
    color: #000000; /* Cambia el color del texto a negro */
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.feature {
    text-align: center;
    margin: 20px;
}

.feature img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: -100px; /* Ajusta el margen superior negativo */
    
}

.feature h2 {
    margin-top: 20px;
}

.feature p {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.feature-img {
    height: auto;
    max-height: 550px; /* Define la altura máxima deseada */
    width: auto;
    max-width: 100%; /* Ajusta el ancho máximo automáticamente */
}


.about-us-image {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 480px; /* Ajusta la altura a 300 píxeles */
}

.about-us-content p {
    text-align: justify; /* Justifica el texto */
    font-size: 18px; /* Tamaño de la letra de 18 píxeles */

}

/* Agrega tus estilos CSS aquí */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.hero-content h1 {
    animation: fadeIn 2s ease-in-out; /* Aplica la animación de fadeIn al título */
}

.category {
    cursor: pointer;
}

.selected {
    border: 2px solid blue;
}
.category-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 20px; /* Espacio entre las categorías */
    text-align: center; /* Centrar el contenido de las categorías */
}

.category {
    width: 100%; /* Ocupar todo el ancho de la columna */
}


.category {
    width: 100%; /* Ocupar todo el ancho de la columna */
}
.category img {
    max-width: 350px; /* Establecer el ancho máximo de las imágenes */
    height: 450px; /* Mantener la proporción de aspecto */
}

.opaque {
    opacity: 0.; /* Opacidad reducida */
}
body {
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    width: 250px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 500px; /* Espacio entre el logo y el título */
}

.header-content h1 {
    margin: 0; /* Elimina el margen predeterminado del título */
}
.product img {
    max-width: 250px; /* La imagen se ajustará automáticamente al ancho del contenedor */
    height: 250px; /* Mantén la relación de aspecto original */
    display: block; /* Eliminar espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre los elementos */
}

.product {
    width: calc(33.33% - 10px); /* Ancho del 33.33% con espacio entre los elementos */
    margin-bottom: 20px; /* Espacio entre las filas */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho */
    
}

.product h2 {
    font-size: 18px; /* Tamaño de la letra para los títulos de producto */
}

.product p {
    font-size: 16px; /* Tamaño de la letra para los precios */
}
.add-to-cart button {
    background-image: url('carrito.png'); /* Imagen de carrito */
    background-size: 30px; /* Ajustar el tamaño de la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center left; /* Centrar la imagen horizontalmente y la alinea a la izquierda */
    padding-left: 60px; /* Aumenta el espacio a la izquierda para dar espacio a la imagen */
    padding-right: 60px; /* Aumenta el espacio a la derecha para dar espacio al texto */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
        background-color: #151f42; /* Cambia el color de fondo a naranja */
        color: #fff; /* Cambia el color del texto a blanco */
        border: none; /* Elimina el borde del botón */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        padding: 10px 20px; /* Ajusta el padding del botón */
        border-radius: 5px; /* Agrega bordes redondeados al botón */
    }

.add-to-cart select {
    width: 50px; /* Ancho del selector de cantidad */
   
}

.cart-button {
    background-image: url('ruta/de/la/imagen-del-carrito.png'); /* Cambia 'ruta/de/la/imagen-del-carrito.png' por la ruta de tu imagen de carrito */
    background-size: 1660px 1440px; /* Ajusta el tamaño de la imagen del carrito según sea necesario */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center left; /* Centra la imagen horizontalmente y la alinea a la izquierda */
    padding-left: 100px; /* Aumenta el espacio a la izquierda para dar espacio a la imagen */
    padding-right: 150px; /* Aumenta el espacio a la derecha para dar espacio al texto */
}

.product {
    text-align: center; /* Centrar el texto dentro de cada contenedor de producto */
}

.product h2 {
    margin-top: 10px; /* Ajustar el margen superior del título */
}

.product p {
    margin-top: 5px; /* Ajustar el margen superior del párrafo */
}

.product {
    border: 1px solid #ccc; /* Agrega un borde a las tarjetas */
    border-radius: 10px; /* Redondea las esquinas de las tarjetas */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la tarjeta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    transition: transform 0.3s ease; /* Agrega una transición suave al pasar el mouse */
}

.category:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
.category img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    border-radius: 10px;
    transition: opacity 0.15s ease; /* Agregar transición suave */
    opacity: 0.55; /* Cambiar a un valor entre 0 y 1 para la opacidad */
}

.category img:hover {
    opacity: 1; /* Cambiar a 1 para que la imagen esté completamente visible al pasar el mouse */
}


.product:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.15s ease; /* Agregar transición suave */
    opacity: 0.55; /* Cambiar a un valor entre 0 y 1 para la opacidad */
}

.product img:hover {
    opacity: 1; /* Cambiar a 1 para que la imagen esté completamente visible al pasar el mouse */
}

.container {
    margin: 20px; /* Agrega un margen de 20px a todos los lados del contenedor */
}











